# Ignora tutto dentro assets tranne .gltf e .bin
Skeletal_Animation/models/assets/*
!Skeletal_Animation/models/assets/
!Skeletal_Animation/models/assets/**/*.gltf
!Skeletal_Animation/models/assets/**/*.bin

Skeletal_Animation/models/assets/textures/*
!Skeletal_Animation/models/assets/textures/
!Skeletal_Animation/models/assets/textures/ground/
!Skeletal_Animation/models/assets/textures/wall/
!Skeletal_Animation/models/assets/textures/rb5/
!Skeletal_Animation/models/assets/textures/sun/

dist/*
!dist/
!dist/**/*.gltf

Final_Project/
Downloaded/
Blend_Models/
Skeletal_Animation/models/blender_models/
models/blender_models/
Skeletal_Animation/models/blender_model/
Skeletal_Animation/models/blender_model/Downloaded/
 



Skeletal_Animation/scripts/map_name.py
Skeletal_Animation/TODO.*
Skeletal_Animation/TODO
Skeletal_Animation/TODO
Skeletal_Animation/shaders/obj/rb5/old/*
