Final_Project/*
Downloaded/*
Skeletal_Animation/Downloaded/*
Skeletal_Animation/models/assets/*
!Skeletal_Animation/models/assets/*.gltf
!Skeletal_Animation/models/assets/*.bin
dist/*
!dist/*.gltf
Blend_Models/*
Skeletal_Animation/models/blender_models/*
models/blender_models/*
Skeletal_Animation/models/blender_model/*

Skeletal_Animation/models/blender_model/Downloaded/*
